<?xml version="1.0" encoding="utf-8" ?>
<!-- Debug-only: E2E automation deep links (sandboxmusic://e2e/*). Not merged into release builds. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".MainActivity">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sandboxmusic" android:host="e2e" />
            </intent-filter>
        </activity>
    </application>
</manifest>
